@import url('colors.css');

.custom-button {
    background-color: var(--olive);
    color: white;
    border: none;
}

.custom-button:hover {
    background-color: var(--dark-olive) !important;
}

.custom-button:active {
    background-color: var(--dark-olive) !important;
}

.verde {
    color: var(--olive) !important;
    font-weight: bold;
}

.rojo {
    color: red !important;
    font-weight: bold;
}

.naranja {
    color: var(--atomic-tangerine) !important;
    font-weight: bold;
}

.blanco {
    color: var(--white) !important;
    font-weight: bold;
}

.table-container {
    position: relative;
}

.sticky-header th {
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: inset 0 -3px 0 #dee2e6, inset 0 3px 0 #dee2e6, inset -3px 0 0 #dee2e6, inset 3px 0 0 #dee2e6;
}