:root {
  --atomic-tangerine: #f29559ff;
  --olive: #93A01E;
  --white: #ffffffff;
  --blue: #1B6CAE;
  --lapis-lazuli: #005680;
  --black: #000000;
}

/* CSS HSL */
:root {
  --atomic-tangerine-hsl: hsla(24, 85%, 65%, 1);
  --asparagus-hsl: hsla(89, 47%, 40%, 1);
  --white-hsl: hsla(0, 0%, 100%, 1);
  --lapis-lazuli-hsl: hsla(207, 49%, 37%, 1);
  --indigo-dye-hsl: hsla(200, 100%, 18%, 1);
}