@import url('colors.css');

.header {
  background-color: var(--asparagus);
  grid-template-columns: 1fr auto;
  padding: 10px;
}

.logo-font {
  font-size: 30px;
  font-weight: bold;
}

.logo-image {
  width: 5cap;
  height: 5cap;
  margin-right: 10px;
}

.auth-buttons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}

.button-register {
  background-color: var(--lapis-lazuli);
  margin-right: 20px;
  color: white;
}

.button-login {
  background-color: var(--lapis-lazuli);
  margin-right: 20px;
  color: var(--white);
}