.main-content {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mb-4 {
  margin-bottom: 1rem; /* Ajusta este valor */
}

.py-3 {
  padding-top: 0.5rem; /* Ajusta este valor */
  padding-bottom: 0.5rem; /* Ajusta este valor */
}
