.main-content {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--lapis-lazuli);
  color: black;
}

.title {
  font-size: 50px;
  font-weight: bold;
}

.subtitle {
  font-size: 18px;
}

.mb-4 {
  margin-bottom:  0.5rem; /* Ajusta este valor */
}

.mb-3 {
  margin:  auto; /* Ajusta este valor */
}

.py-3 {
  padding-top: 5rem; /* Ajusta este valor */
  padding-bottom: 0.5rem; /* Ajusta este valor */
}
