@import url('colors.css');

.Card {
    border-radius: 15px;
}

.min-vh-100 {
    min-height: 100vh;
}

.card-body {
    max-width: 500px;
    margin: 0 auto;
}

.text-start {
    text-align: left;
}

.react-datepicker-wrapper {
    width: 100%;
}

.react-datepicker__input-container {
    width: 100%;
}

.w-100 {
    width: 100% !important;
}

.fondo {
    background-color: var(--blue);
}