/* Default styles for buttons */
.clear-button, .custom-button {
    display: flex;
    align-items: center;
    height: 38px; /* Ajusta esta altura según sea necesario */
}

/* Media query for small screens */
@media (max-width: 576px) {
    .clear-button span,
    .custom-button span {
        display: none;
    }

    .clear-button svg,
    .custom-button svg {
        margin-right: 0;
    }
}
